.svg-upload {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 0.5%;
}

.svg-upload svg {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  border: none;
  transition: .2s opacity;
}

.svg-upload svg:hover {
  background-color: #4caf50;
}

.message-file {
  margin-top: 0.5rem;
  font-size: 0.9em;
}

.message-file a {
  color: #0066cc;
  text-decoration: none;
}

.message-file a:hover {
  text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.chats-page {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.select-chat-prompt{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-list {
  width: 25%;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  border-right: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  font-size: 1em;
  overflow-x: hidden;
}

@media only screen and (min-width: 601px) and (max-width: 925px) {
  .chat-list {
    width:  30%;
  }
}

.chat-list-item {
  margin-left: 0.4rem;
  padding: .7rem;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.chat-list-item:hover {
  background-color: #f0f0f0;
}

.chat-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.chat-list-avatar {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
}

.grid-wrapper {
  flex-direction: column;
  justify-content: center;
  margin: 0.4rem 0.4rem 0rem 0.4rem;
  flex-grow: 1;
}

.chat-name {
  font-weight: bold;
}

.last-message-time {
  self-align: end;
  font-size: 0.8em;
  color: #999;
}

.chat-name {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.last-message {
  margin-left: 3%;
  color: #666;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-container {
  flex: 1;
  display: flex;
  background-color: #99BA92;
  flex-direction: column;
  overflow: hidden;
}

.chat-window-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.chat-window {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  padding: .7rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 65%;
  padding: .7rem;
  border-radius: 15px;
  margin-bottom: 0.7rem;
  position: relative;
  word-wrap: break-word;
  box-sizing: border-box;
}

.my-message {
  background-color: rgb(238,255,222);
  border: 1px solid #a0d6b4;
  color: #333;
  align-self: flex-end;
}

.other-message {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  align-self: flex-start;
}

.message-username {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.message-text {
  margin-bottom: 0.4rem;
}

.message-time {
  font-size: 0.8em;
  color: #999;
  text-align: right;
}

.message-input-container {
  position: sticky;
  padding: .7rem;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
}

.message-input-container::before {
  content: ''; /* Пустое содержание для псевдоэлемента */
  position: absolute;
  top: 0; /* Позиция вверху */
  left: 50%; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Корректировка позиционирования */
  width: 62%; /* Фиксированная длина границы */
  height: 1px; /* Фиксированная ширина границы */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.4) 98%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 350ms ease;
}

.message-input-wrapper {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  border: none;
}

.message-input {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.message-input textarea {
  flex: 1;
  max-height: 33vh; /* Максимальная высота текстового поля */
  padding: .7rem;
  border: none;
  outline: none;
  border-radius: 10px 10px 0px 10px;
  resize: none; /* Убираем возможность изменения размеров поля пользователем */
  overflow-y: auto; /* Вертикальная прокрутка */
  box-sizing: border-box;
  height: auto;
  min-height: 40px; /* Минимальная высота текстового поля */
}

.svg-appendix{
  margin-bottom: -0.2rem;
  margin-right: -0.5rem;
  width: .5625rem;
  height: 1.25rem;
}

.message-input button {
  margin-left: 2.5%;
  margin-bottom: 0.5%;
  padding: 2%;
  color: #45a049;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 14%;
  font-size: 0.8em;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: #fff;
}

.message-input button:hover {
  background-color: #4caf50;
  color: #fff;
}

.file-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 1rem;
  z-index: 1000;
}

.file-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.file-modal-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.file-list {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.file-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.file-input-wrapper textarea {
  flex: 1;
  resize: none;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.file-input-wrapper button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}