/* styles.css */
body {
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
}

.chats-page {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.chat-list {
  width: 25%;
  border-right: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  font-size: 1em;
}

.chat-list-item {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.chat-list-item:hover {
  background-color: #f0f0f0;
}

.chat-container {
  flex: 1;
  display: flex;
  background-color: #99BA92;
  flex-direction: column;
  overflow: hidden; /* Скрываем прокрутку у контейнера */
}

.chat-window-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.chat-window {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 65%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
  box-sizing: border-box;
}

.my-message {
  background-color: rgb(238,255,222);
  border: 1px solid #a0d6b4;
  color: #333;
  align-self: flex-end;
}

.other-message {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  align-self: flex-start;
}

.message-text {
  margin-bottom: 5px;
}

.message-time {
  font-size: 0.8em;
  color: #999;
  text-align: right;
}

.message-input-container {
  position: sticky;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
}

.message-input-container::before {
  content: ''; /* Пустое содержание для псевдоэлемента */
  position: absolute;
  top: 0; /* Позиция вверху */
  left: 50%; /* Центрирование по горизонтали */
  transform: translateX(-50%); /* Корректировка позиционирования */
  width: 62%; /* Фиксированная длина границы */
  height: 1px; /* Фиксированная ширина границы */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 2%, rgba(255, 255, 255, 0.4) 98%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 350ms ease;
}

.message-input-wrapper {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  border: none;
}

.message-input {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.message-input textarea {
  flex: 1;
  max-height: 33vh; /* Максимальная высота текстового поля */
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px 10px 0px 10px;
  resize: none; /* Убираем возможность изменения размеров поля пользователем */
  overflow-y: auto; /* Вертикальная прокрутка */
  box-sizing: border-box;
  height: auto;
  min-height: 40px; /* Минимальная высота текстового поля */
}

.svg-appendix{
  margin-bottom: -0.2rem;
  margin-right: -0.5rem;
  width: .5625rem;
  height: 1.25rem;
}

.message-input button {
  margin-left: 2.5%;
  margin-bottom: 0.5%;
  padding: 2%;
  color: #45a049;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 14%;
  font-size: 0.8em;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: #fff;
}

.message-input button:hover {
  background-color: #4caf50;
  color: #fff;
}
