.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left:3%;
  padding-right:3%;
  z-index: 1000;
  box-sizing: border-box;
  border-bottom: 1px solid #50C878;
  background-color: #ededed;
}

.logo {
  display: flex;
  font-size: 24px;
}

.liner{
    position: relative;
}
.liner::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #50C878;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}
.liner:hover::after {
    width: 90%;
}
.actions {
  display: flex;
}

.action-button {
  user-select: none;
  margin-left: 5px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: transparent;
  color: #50C878;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
}
.action-button:after {
    display: block;
    bottom: -5px;
    content: "";
    background-color: #50C878;
    height: 3px;
    width: 0;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.action-button:hover:after,
.action-button:focus:after {
    width: 90%;
}


/* Уменьшаем отступы для кнопок на маленьких экранах */
@media (max-width: 768px) {
  .action-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

